# build system
Makefile.in
Makefile
configure
config.log
config.status
src/acconfig.h.in
src/acconfig.h
aclocal.m4
*.m4
autom4te.cache
.deps/
myconfig.h
myconfig.hpp
build/
CMakeFiles
cmake-build*
compile_commands.json

*.*~

# created by configure
src/myconfig-final.h
src/stamp-h1
doc/latexit.sh
myconfig-sample.h
testsuite/runtest.sh
tools/es_mpiexec
config/ltmain.sh
src/python/espressomd/code_info.pyx

# object files and executable
*.o
*.lo
src/libEspresso.a
Espresso
Espresso.install
build.eclipse
src/featuredefs.pyc
src/acconfig.hpp.in

# Espresso output
*.end
*.obs*
*.chk
*.h5

# doxygen
doc/dg/html/
doc/dg/background_errors.doc
doc/dg/background_errors.sorted
doc/dg/background_errors.unsorted

# IDE
.idea

# Compiled python
*.pyc

.ycm_extra_conf.py
