[submodule "libs/h5xx"]
	path = libs/h5xx
	url = https://github.com/h5md/h5xx.git
[submodule "libs/HIP"]
	path = libs/HIP
	url = https://github.com/ROCm-Developer-Tools/HIP
[submodule "libs/rocFFT"]
	path = libs/rocFFT
	url = https://github.com/ROCmSoftwarePlatform/rocFFT
