image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/ubuntu-python3:18.04

stages:
  - permission
  - prepare
  - build
  - additional_checks
  - deploy
  - result

.global_job_template: &global_job_definition
  except:
    - staging.tmp
    - trying.tmp

.notification_job_template: &notification_job_definition
  <<: *global_job_definition
  variables:
    GIT_SUBMODULE_STRATEGY: none
  dependencies: []
  tags:
    - linux

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  CCACHE_DIR: /cache
  CCACHE_MAXSIZE: 100G
  with_ccache: "true"

check_permission:
  <<: *notification_job_definition
  stage: permission
  only:
    - /.*external.*/
  when: manual
  allow_failure: false
  script:
    - exit 0

status_pending:
  <<: *notification_job_definition
  stage: prepare
  script: bash maintainer/gh_post_status.sh pending

style:
  <<: *global_job_definition
  stage: prepare
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/clang:6.0
  dependencies: []
  before_script:
    - git submodule deinit .
  script:
    - maintainer/CI/fix_style.sh
    - git --no-pager diff > style.patch
    - git diff-index --quiet HEAD -- || (echo "Failed style check. Download $CI_JOB_URL/artifacts/raw/style.patch to see which changes are necessary." && exit 1)
    - echo "Passed style check"
  tags:
    - docker
    - linux
  variables:
    GIT_SUBMODULE_STRATEGY: none
  artifacts:
    paths:
    - style.patch
    expire_in: 1 week
    when: on_failure

style_doxygen:
  <<: *global_job_definition
  stage: prepare
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:9.0
  dependencies: []
  script:
    - mkdir build
    - cd build
    - cp ../maintainer/configs/maxset.hpp myconfig.hpp
    - cmake ..
    - bash ../maintainer/CI/dox_warnings.sh
  tags:
    - docker
    - linux

### Builds without CUDA

default:
  <<: *global_job_definition
  stage: build
  script:
    - export with_cuda=false myconfig=default with_coverage=true
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux

min_boost:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/ubuntu-python3:min_boost
  script:
    - export with_cuda=false myconfig=maxset
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux

maxset:
  <<: *global_job_definition
  stage: build
  script:
    - export myconfig=maxset with_coverage=true
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux

no_rotation:
  <<: *global_job_definition
  stage: build
  script:
    - export myconfig=no_rotation with_coverage=true
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux

### Builds with different Distributions

#debian:8 removed: similar to ubuntu:1404

debian:9:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/debian-python3:9
  script:
    - export with_cuda=false
    - export myconfig=maxset make_check=false
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux

opensuse:15.1:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/$CI_JOB_NAME
  script:
    - export with_cuda=false myconfig=maxset make_check=false
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux

centos:7:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/centos-python3:7
  script:
    - export with_cuda=false myconfig=maxset make_check=true
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux

fedora:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/centos-python3:next
  script:
    - export with_cuda=false myconfig=maxset make_check=false
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux

#ubuntu:1604 not needed: used in cuda:9.0
#ubuntu:1804 not needed: default used in non-CUDA builds
#ubuntu:1904 not needed: base image for builds on different architectures

### Builds with CUDA

cuda10-maxset:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:10.1
  script:
    - export myconfig=maxset with_coverage=false test_timeout=900 srcdir=${CI_PROJECT_DIR}
    - export cmake_params="-DIPYTHON_EXECUTABLE=$(which jupyter)"
    - bash maintainer/CI/build_cmake.sh
  artifacts:
    paths:
    - build/
    expire_in: 1 week
  tags:
    - docker
    - linux
    - cuda

cuda-maxset:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:9.0
  script:
    - export myconfig=maxset with_coverage=true test_timeout=900 srcdir=${CI_PROJECT_DIR}
    - sed -i 's/ or "DISPLAY" in os.environ/ or True/' src/python/espressomd/visualization.pyx
    - bash maintainer/CI/build_cmake.sh
  artifacts:
    paths:
    - build/
    expire_in: 1 week
  when: on_success
  tags:
    - docker
    - linux
    - cuda

tutorials-samples-maxset:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:tutorials
  script:
    - export myconfig=maxset with_coverage=false make_check=false
    - export make_check_tutorials=true make_check_samples=true make_check_benchmarks=true test_timeout=1200
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux
    - cuda

tutorials-samples-default:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:tutorials
  script:
    - export myconfig=default with_coverage=false make_check=false
    - export make_check_tutorials=true make_check_samples=true make_check_benchmarks=true test_timeout=1200
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux
    - cuda
  only:
    - schedules

tutorials-samples-empty:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:tutorials
  script:
    - export myconfig=empty with_coverage=false make_check=false
    - export make_check_tutorials=true make_check_samples=true make_check_benchmarks=true test_timeout=1200
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux
    - cuda
  only:
    - schedules

tutorials-samples-no-gpu:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:tutorials
  script:
    - export myconfig=maxset with_coverage=false make_check=false
    - export make_check_tutorials=true make_check_samples=true make_check_benchmarks=true test_timeout=1200 hide_gpu=true
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux
  only:
    - schedules

empty:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:9.0
  script:
    - export myconfig=empty
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux
    - cuda

ubuntu:wo-dependencies:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/ubuntu-python3:wo-dependencies
  script:
    - export myconfig=maxset make_check=false
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux

### Builds with ROCm

rocm-maxset:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/rocm-python3:latest
  script:
    - export myconfig=maxset
    - bash maintainer/CI/build_cmake.sh
  tags:
    - amdgpu

### Builds on different architectures

.arch_template: &arch_definition
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/$CI_JOB_NAME
  script:
    - export with_cuda=false test_timeout=900 check_skip_long=true
    - export OMPI_MCA_btl_vader_single_copy_mechanism=none
    - export myconfig=maxset
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux
  when: manual

ubuntu:arm64:
  <<: *arch_definition

ubuntu:armhf:
  <<: *arch_definition

ubuntu:i386:
  <<: *arch_definition
  only:
    - branches
    - tags

ubuntu:ppc64le:
  <<: *arch_definition

ubuntu:s390x:
  <<: *arch_definition
  variables:
    LD_BIND_NOW: none

### Builds with OS X

osx:
  <<: *global_job_definition
  stage: build
  script:
    - export with_ccache=false myconfig=maxset with_cuda=false
    - bash maintainer/CI/build_cmake.sh
  tags:
    - mac

osx-cuda:
  <<: *global_job_definition
  stage: build
  script:
    - export with_ccache=false myconfig=maxset with_cuda=true make_check=false
    - bash maintainer/CI/build_cmake.sh
  tags:
    - mac

### Builds with different compilers

clang:6.0:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/clang-python3:6.0
  script:
    - export myconfig=maxset with_coverage=false with_static_analysis=true with_asan=true with_ubsan=true test_timeout=900
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux
    - cuda
    - ptrace

intel:18:
  <<: *global_job_definition
  stage: build
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/intel-python3:18
  script:
    - export myconfig=maxset with_coverage=false I_MPI_SHM_LMT=shm
    - export cxx_flags=-O2
    - bash maintainer/CI/build_cmake.sh
  tags:
    - docker
    - linux
    - cuda
    - icp
  when: manual

check_sphinx:
  <<: *global_job_definition
  stage: additional_checks
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:9.0
  needs:
    - cuda-maxset
  when: on_success
  script:
    - sed -i 's/ or "DISPLAY" in os.environ/ or True/' ${CI_PROJECT_DIR}/src/python/espressomd/visualization.pyx
    - cd ${CI_PROJECT_DIR}/build
    - make -t && make sphinx
    - bash ../maintainer/CI/doc_warnings.sh
  artifacts:
    paths:
    - build/doc/sphinx
    expire_in: 1 week
  tags:
    - docker
    - linux
    - cuda

run_tutorials:
  <<: *global_job_definition
  stage: additional_checks
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:10.1
  needs:
    - cuda10-maxset
  when: on_success
  script:
    - cd ${CI_PROJECT_DIR}/build
    - make -t
    - make tutorials
    - make -j1 tutorials_html
  artifacts:
    paths:
    - build/doc/tutorials
    expire_in: 1 week
  only:
    variables:
      - $CI_COMMIT_REF_NAME == "python" && $CI_DEPLOY_TUTORIALS
  tags:
    - docker
    - linux
    - cuda

check_doxygen:
  <<: *global_job_definition
  stage: additional_checks
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:9.0
  needs:
    - cuda-maxset
  when: on_success
  script:
    - cd ${CI_PROJECT_DIR}/build
    - make -t && make doxygen
  artifacts:
    paths:
    - build/doc/doxygen
    expire_in: 1 week
  tags:
    - docker
    - linux

check_cuda_maxset_no_gpu:
  <<: *global_job_definition
  stage: additional_checks
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:9.0
  when: on_success
  needs: 
    - cuda-maxset
  script:
    - export CUDA_VISIBLE_DEVICES=""
    - cd ${CI_PROJECT_DIR}/build
    - make -t && make check
  tags:
    - docker
    - linux


check_with_odd_no_of_processors:
  <<: *global_job_definition
  stage: additional_checks 
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:9.0
  when: on_success
  needs: 
    - cuda-maxset
  script:
    - cd ${CI_PROJECT_DIR}/build
    - cmake -DTEST_NP=3 .
    - make -t && make check_python_parallel_odd
  tags:
    - docker
    - linux
    - cuda


.deploy_base:
  <<: *global_job_definition
  stage: deploy
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/cuda:9.0
  only:
    - python
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - mkdir -p ${HOME}/.ssh && chmod 700 ${HOME}/.ssh
    - echo "$SSH_PRIVATE_KEY" > ${HOME}/.ssh/espresso_rsa && chmod 600 ${HOME}/.ssh/espresso_rsa
    - echo "$SSH_PUBLIC_KEY" > ${HOME}/.ssh/espresso_rsa.pub && chmod 600 ${HOME}/.ssh/espresso_rsa.pub
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  tags:
    - docker
    - linux
    - icp

deploy_sphinx_documentation:
  extends: .deploy_base
  dependencies:
    - check_sphinx
  script:
    - cd ${CI_PROJECT_DIR}/build/doc/sphinx/html && 
      rsync -avz --delete -e "ssh -i ${HOME}/.ssh/espresso_rsa" ./ espresso@elk.icp.uni-stuttgart.de:/home/espresso/public_html/html/doc

deploy_doxygen_documentation:
  extends: .deploy_base
  dependencies:
    - check_doxygen
  script:
    - cd ${CI_PROJECT_DIR}/build/doc/doxygen/html &&
      rsync -avz --delete -e "ssh -i ${HOME}/.ssh/espresso_rsa" ./ espresso@elk.icp.uni-stuttgart.de:/home/espresso/public_html/html/dox

deploy_tutorials:
  extends: .deploy_base
  dependencies:
    - run_tutorials
  script:
    - cd ${CI_PROJECT_DIR}/build/doc/tutorials
    - ${CI_PROJECT_DIR}/maintainer/CI/deploy_tutorials.py
    - mkdir www &&
      rsync -a --files-from=deploy_list.txt ./ www &&
      rsync -avz --delete -e "ssh -i ${HOME}/.ssh/espresso_rsa" www/ espresso@elk.icp.uni-stuttgart.de:/home/espresso/public_html/html/tutorials_html
  only:
    variables:
      - $CI_COMMIT_REF_NAME == "python" && $CI_DEPLOY_TUTORIALS

status_success:
  <<: *notification_job_definition
  stage: result
  script: bash maintainer/gh_post_status.sh success
  when: on_success

status_failure:
  <<: *notification_job_definition
  stage: result
  script: bash maintainer/gh_post_status.sh failure
  when: on_failure

notify_success:
  <<: *notification_job_definition
  stage: result
  script: bash maintainer/gh_close_issue.sh
  when: on_success
  only:
    - python

notify_failure:
  <<: *notification_job_definition
  stage: result
  script: bash maintainer/gh_create_issue.sh
  when: on_failure
  only:
    - python
