image: espressomd/espresso-ubuntu-cuda:latest

stages:
  - prepare
  - build
  - doc_check
  - deploy

status_pending:
  stage: prepare
  script: bash maintainer/gh_post_status.sh pending

shanchen:
  stage: build
  script:
    - export myconfig=shanchen with_coverage=true
    - bash maintainer/cuda_build.sh

maxset:
  stage: build
  script:
    - export myconfig=maxset with_coverage=true
    - bash maintainer/cuda_build.sh
  artifacts:
    paths:
    - build/

clang:
  stage: build
  image: espressomd/espresso-ubuntu-clang-cuda:latest
  script:
    - export myconfig=maxset with_coverage=false
    - bash maintainer/cuda_build.sh

sphinx:
  stage: doc_check
  when: on_success
  script:
    - cd ${CI_PROJECT_DIR}; cd build && find ./ -exec touch -c -t 203901010000 {} \; && make sphinx

status_success:
  stage: deploy
  script: bash maintainer/gh_post_status.sh success
  when: on_success
  dependencies: []

status_failure:
  stage: deploy
  script: bash maintainer/gh_post_status.sh failure
  when: on_failure
  dependencies: []

sphinx_documentation:
  stage: deploy
  only:
    - doc
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/espresso_rsa && chmod 600 ~/.ssh/espresso_rsa
    - echo "$SSH_PUBLIC_KEY" > ~/.ssh/espresso_rsa.pub && chmod 600 ~/.ssh/espresso_rsa.pub
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - cd ${CI_PROJECT_DIR}; cd build && find ./ -exec touch -c -t 203901010000 {} \; && make sphinx && make doxygen && cd doc/sphinx/html && 
      rsync -avz --delete -e "ssh -i ~/.ssh/espresso_rsa" ./* espresso@elk.icp.uni-stuttgart.de:/home/espresso/public_html/html/doc
    - cd ../../doxygen/html &&
      rsync -avz --delete -e "ssh -i ~/.ssh/espresso_rsa" ./* espresso@elk.icp.uni-stuttgart.de:/home/espresso/public_html/html/dox
