image: ghcr.io/espressomd/docker/ubuntu-22.04:3fd42369f84239b8c4f5d77067d404789c55ff44

stages:
  - prepare
  - build
  - additional_checks
  - result

.global_job_template: &global_job_definition
  except:
    - staging.tmp
    - trying.tmp
  before_script:
    - git config --global --add safe.directory ${CI_PROJECT_DIR}
    - git config --global --add safe.directory ${CI_PROJECT_DIR}/libs/h5xx
  timeout: 1h
  interruptible: true

.notification_job_template: &notification_job_definition
  <<: *global_job_definition
  variables:
    GIT_SUBMODULE_STRATEGY: none
  before_script:
    - git config --global --add safe.directory ${CI_PROJECT_DIR}
  dependencies: []
  timeout: 40m
  interruptible: false
  tags:
    - espresso
    - no-cuda

variables:
  GIT_SUBMODULE_STRATEGY: recursive
  CCACHE_DIR: /cache
  CCACHE_MAXSIZE: 100G
  with_ccache: "true"

status_pending:
  <<: *notification_job_definition
  stage: prepare
  script: sh maintainer/gh_post_status.sh pending

style:
  <<: *global_job_definition
  stage: prepare
  dependencies: []
  before_script:
    - git config --global --add safe.directory ${CI_PROJECT_DIR}
    - git submodule deinit .
  script:
    - sh maintainer/CI/fix_style.sh
  tags:
    - espresso
    - no-cuda
  variables:
    GIT_SUBMODULE_STRATEGY: none
  artifacts:
    paths:
    - style.patch
    expire_in: 1 week
    when: on_failure

style_doxygen:
  <<: *global_job_definition
  stage: prepare
  dependencies: []
  script:
    - mkdir build
    - cd build
    - cp ../maintainer/configs/maxset.hpp myconfig.hpp
    - cmake .. -D ESPRESSO_BUILD_WITH_CUDA=ON -D ESPRESSO_BUILD_WITH_GSL=ON -D ESPRESSO_BUILD_WITH_HDF5=ON -D ESPRESSO_BUILD_WITH_SCAFACOS=ON -D ESPRESSO_BUILD_WITH_WALBERLA_LIB=ON -D ESPRESSO_BUILD_WITH_STOKESIAN_DYNAMICS=ON
    - sh ../maintainer/CI/dox_warnings.sh
  tags:
    - espresso
    - no-cuda

### Builds without CUDA

default:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'gcc-10'
     CXX: 'g++-10'
     GCOV: 'gcov-10'
     with_cuda: 'false'
     myconfig: 'default'
     with_coverage: 'true'
     with_scafacos: 'true'
     with_walberla: 'true'
     with_stokesian_dynamics: 'true'
     check_skip_long: 'true'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - no-cuda
    - numa

maxset:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'gcc-10'
     CXX: 'g++-10'
     GCOV: 'gcov-10'
     with_cuda: 'false'
     with_cxx_standard: '20'
     myconfig: 'maxset'
     with_coverage: 'true'
     with_scafacos: 'true'
     with_walberla: 'true'
     with_stokesian_dynamics: 'true'
     check_skip_long: 'true'
     cmake_params: '-D ESPRESSO_TEST_NP=8 -D ESPRESSO_BUILD_WITH_WALBERLA_USE_AVX=ON'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - no-cuda
    - numa
    - avx2

no_rotation:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'gcc-10'
     CXX: 'g++-10'
     GCOV: 'gcov-10'
     with_cuda: 'false'
     myconfig: 'no_rotation'
     with_coverage: 'true'
     with_scafacos: 'true'
     check_skip_long: 'true'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - no-cuda
    - numa

ubuntu:wo-dependencies:
  <<: *global_job_definition
  stage: build
  image: ghcr.io/espressomd/docker/ubuntu-wo-dependencies:3fd42369f84239b8c4f5d77067d404789c55ff44
  variables:
     myconfig: 'maxset'
     with_cuda: 'false'
     with_hdf5: 'false'
     with_fftw: 'false'
     with_gsl: 'false'
     make_check_unit_tests: 'false'
     make_check_python: 'false'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - no-cuda

### Builds with different distributions

debian:10:
  <<: *global_job_definition
  stage: build
  image: ghcr.io/espressomd/docker/debian:3fd42369f84239b8c4f5d77067d404789c55ff44
  variables:
     with_cuda: 'false'
     with_gsl: 'false'
     myconfig: 'maxset'
     make_check_python: 'false'
     with_stokesian_dynamics: 'true'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - no-cuda

fedora:36:
  <<: *global_job_definition
  stage: build
  image: ghcr.io/espressomd/docker/fedora:3fd42369f84239b8c4f5d77067d404789c55ff44
  variables:
     with_cuda: 'false'
     with_gsl: 'false'
     myconfig: 'maxset'
     make_check_python: 'true'
     with_stokesian_dynamics: 'true'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - no-cuda

### Builds with CUDA

clang-sanitizer:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'clang-14'
     CXX: 'clang++-14'
     myconfig: 'maxset'
     with_cuda: 'true'
     with_cuda_compiler: 'clang'
     with_coverage: 'false'
     with_static_analysis: 'true'
     check_skip_long: 'true'
     with_asan: 'true'
     with_ubsan: 'true'
     with_scafacos: 'true'
     with_walberla: 'true'
     with_stokesian_dynamics: 'true'
  script:
    - bash maintainer/CI/build_cmake.sh
  timeout: 2h
  tags:
    - espresso
    - cuda
    - numa

fast_math:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'gcc-10'
     CXX: 'g++-10'
     GCOV: 'gcov-10'
     myconfig: 'maxset'
     with_cuda: 'true'
     with_coverage: 'false'
     with_scafacos: 'false'
     with_stokesian_dynamics: 'true'
     with_fast_math: 'true'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - cuda
  when: manual

cuda11-coverage:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'gcc-10'
     CXX: 'g++-10'
     GCOV: 'gcov-10'
     myconfig: 'maxset'
     with_cuda: 'true'
     with_coverage: 'true'
     check_skip_long: 'true'
     with_scafacos: 'true'
     with_walberla: 'true'
     with_stokesian_dynamics: 'true'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - cuda
    - numa

cuda11-maxset:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'gcc-10'
     CXX: 'g++-10'
     GCOV: 'gcov-10'
     myconfig: 'maxset'
     with_cuda: 'true'
     with_coverage: 'false'
     with_coverage_python: 'true'
     test_timeout: '900'
     srcdir: '${CI_PROJECT_DIR}'
     with_scafacos: 'true'
     with_walberla: 'true'
     with_stokesian_dynamics: 'true'
     cmake_params: '-DWALBERLA_USE_STD_EXPERIMENTAL_FILESYSTEM=TRUE'
  script:
    - bash maintainer/CI/build_cmake.sh
  artifacts:
    paths:
    - build/
    expire_in: 1 week
  tags:
    - espresso
    - cuda
    - numa

tutorials-samples-maxset:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'gcc-10'
     CXX: 'g++-10'
     GCOV: 'gcov-10'
     myconfig: 'maxset'
     with_cuda: 'true'
     with_coverage: 'false'
     with_coverage_python: 'true'
     with_scafacos: 'true'
     with_walberla: 'true'
     with_stokesian_dynamics: 'true'
     cmake_params: '-DWALBERLA_USE_STD_EXPERIMENTAL_FILESYSTEM=TRUE'
     make_check_unit_tests: 'false'
     make_check_python: 'false'
     make_check_tutorials: 'true'
     make_check_samples: 'true'
     make_check_benchmarks: 'true'
     test_timeout: '1200'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - cuda
    - numa

tutorials-samples-default:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'gcc-10'
     CXX: 'g++-10'
     GCOV: 'gcov-10'
     myconfig: 'default'
     with_cuda: 'true'
     with_coverage: 'false'
     with_scafacos: 'true'
     with_walberla: 'true'
     make_check_unit_tests: 'false'
     make_check_python: 'false'
     make_check_tutorials: 'true'
     make_check_samples: 'true'
     make_check_benchmarks: 'true'
     test_timeout: '1200'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - cuda
    - numa
  only:
    - schedules

tutorials-samples-empty:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'gcc-10'
     CXX: 'g++-10'
     GCOV: 'gcov-10'
     myconfig: 'empty'
     with_cuda: 'true'
     with_coverage: 'false'
     with_scafacos: 'false'
     with_walberla: 'false'
     make_check_unit_tests: 'false'
     make_check_python: 'false'
     make_check_tutorials: 'true'
     make_check_samples: 'true'
     make_check_benchmarks: 'true'
     test_timeout: '1200'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - cuda
    - numa
  only:
    - schedules

tutorials-samples-no-gpu:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'gcc-10'
     CXX: 'g++-10'
     GCOV: 'gcov-10'
     myconfig: 'maxset'
     with_cuda: 'true'
     with_coverage: 'false'
     with_scafacos: 'true'
     with_walberla: 'true'
     make_check_unit_tests: 'false'
     make_check_python: 'false'
     make_check_tutorials: 'true'
     make_check_samples: 'true'
     make_check_benchmarks: 'true'
     test_timeout: '1200'
     hide_gpu: 'true'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - no-cuda
  only:
    - schedules

installation:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'gcc-10'
     CXX: 'g++-10'
     GCOV: 'gcov-10'
     myconfig: 'maxset'
     with_cuda: 'true'
     with_coverage: 'false'
     make_check_unit_tests: 'false'
     make_check_python: 'false'
     with_scafacos: 'true'
     with_walberla: 'true'
     with_stokesian_dynamics: 'true'
     srcdir: '${CI_PROJECT_DIR}'
     build_type: 'Release'
  script:
    - bash maintainer/CI/build_cmake.sh
    - cd build
    - make install
    # get path of installed files
    - CI_INSTALL_DIR="/tmp/espresso-unit-tests"
    - CI_INSTALL_PYTHON_PATH=$(dirname $(find "${CI_INSTALL_DIR}/lib" -name espressomd))
    - CI_CORES=$(cmake -L . | grep ESPRESSO_CTEST_ARGS | grep --color=never -Po '(?<=-j)[0-9]+')
    # deploy object-in-fluid module
    - cp -r "src/python/object_in_fluid" "${CI_INSTALL_PYTHON_PATH}/object_in_fluid"
    # run all tests with the installed files
    - sed -i "s|$(pwd)/pypresso|${CI_INSTALL_DIR}/bin/pypresso|" testsuite/{python,scripts/samples,scripts/tutorials}/CTestTestfile.cmake
    - make -j ${CI_CORES} check_python_skip_long
    - make -j ${CI_CORES} check_samples
    - make -j 2 check_tutorials
  tags:
    - espresso
    - cuda
  when: manual

empty:
  <<: *global_job_definition
  stage: build
  variables:
     CC: 'clang-14'
     CXX: 'clang++-14'
     myconfig: 'empty'
     with_cuda: 'true'
     with_cuda_compiler: 'clang'
     with_static_analysis: 'true'
     with_scafacos: 'false'
     with_walberla: 'false'
     with_stokesian_dynamics: 'false'
     with_coverage: 'false'
     with_coverage_python: 'true'
  script:
    - bash maintainer/CI/build_cmake.sh
  tags:
    - espresso
    - cuda
    - numa

check_sphinx:
  <<: *global_job_definition
  stage: additional_checks
  needs:
    - cuda11-maxset
  when: on_success
  script:
    - cd ${CI_PROJECT_DIR}/build
    - make -t && make sphinx
    - make -j2 tutorials
    - make check_utils
    - bash ${CI_PROJECT_DIR}/maintainer/CI/doc_warnings.sh
    - python3 ${CI_PROJECT_DIR}/maintainer/CI/jupyter_warnings.py
  artifacts:
    paths:
    - build/doc/sphinx
    expire_in: 1 week
  tags:
    - espresso
    - cuda
    - numa

run_tutorials:
  <<: *global_job_definition
  stage: additional_checks
  needs:
    - cuda11-maxset
  when: on_success
  script:
    - cd ${CI_PROJECT_DIR}/build
    - make -t
    - make tutorials
    - make -j1 tutorials_html
    - cd doc/tutorials
    - mkdir html
    - ${CI_PROJECT_DIR}/maintainer/CI/deploy_tutorials.py
    - rsync -a --files-from=deploy_list.txt ./ html
  artifacts:
    paths:
    - build/doc/tutorials
    expire_in: 1 week
  tags:
    - espresso
    - cuda
    - numa
  only:
    - schedules

run_doxygen:
  <<: *global_job_definition
  stage: additional_checks
  needs:
    - cuda11-maxset
  when: on_success
  only:
    - python
  script:
    - cd ${CI_PROJECT_DIR}/build
    - make -t && make doxygen
  artifacts:
    paths:
    - build/doc/doxygen
    expire_in: 1 week
  tags:
    - espresso
    - no-cuda
    - numa

maxset_no_gpu:
  <<: *global_job_definition
  stage: additional_checks
  when: on_success
  needs:
    - cuda11-maxset
  script:
    - export CUDA_VISIBLE_DEVICES=""
    - cd ${CI_PROJECT_DIR}/build
    - make -t && make check
  tags:
    - espresso
    - no-cuda
    - numa

maxset_3_cores:
  <<: *global_job_definition
  stage: additional_checks
  when: on_success
  needs:
    - cuda11-maxset
  script:
    - cd ${CI_PROJECT_DIR}/build
    - cmake -D ESPRESSO_TEST_NP=3 .
    - make -t && make check_unit_tests && make check_python_parallel_odd
  tags:
    - espresso
    - cuda
    - numa

status_success:
  <<: *notification_job_definition
  stage: result
  script: sh maintainer/gh_post_status.sh success
  when: on_success

status_failure:
  <<: *notification_job_definition
  stage: result
  script: sh maintainer/gh_post_status.sh failure
  when: on_failure

notify_success:
  <<: *notification_job_definition
  stage: result
  script: sh maintainer/gh_close_issue.sh
  when: on_success
  only:
    - python

notify_failure:
  <<: *notification_job_definition
  stage: result
  script: sh maintainer/gh_create_issue.sh
  when: on_failure
  only:
    - python
