# build system
Makefile.in
Makefile
configure
config.log
config.status
src/acconfig.h.in
src/acconfig.h
aclocal.m4
*.m4
autom4te.cache
.deps/
myconfig.h
build/

*.*~

# created by configure
src/myconfig-final.h
src/stamp-h1
doc/latexit.sh
myconfig-sample.h
testsuite/runtest.sh
tools/es_mpiexec
config/ltmain.sh

# object files and executable
*.o
*.lo
src/libEspresso.a
Espresso
Espresso.install
build.eclipse
src/featuredefs.pyc
src/acconfig.hpp.in

# Espresso output
*.end
*.obs*
*.chk
*.h5

# doxygen
doc/dg/html/
doc/dg/background_errors.doc
doc/dg/background_errors.sorted
doc/dg/background_errors.unsorted
/.autotools
/config/myconfig-sample-header.hpp
/config/test-driver
/espressomd
/fftw3_1d_wisdom_back_n32.file
/fftw3_1d_wisdom_forw_n32.file
/libtool
/mag-cuda-1.tcl
/mag-cuda-2.tcl
/mag-cuda-3.tcl
/mag-cuda-4.tcl
/mag-cuda-5 [tag1].tcl
/mag-cuda-5.tcl
/mag-cuda-prepare-vmd.tcl
/myconfig.hpp
/myconfig-sample.hpp
/pypresso
/src/acconfig.hpp
/src/core/actor/.dirstamp
/src/core/config-features.cpp
/src/core/config-features.hpp
/src/core/config-version.cpp
/src/core/immersed_boundary/.dirstamp
/src/core/libEspresso.la
/src/core/.libs/libEspresso.a
/src/core/.libs/libEspresso.la
/src/core/mpifake/.dirstamp
/src/core/myconfig-final.hpp
/src/core/object-in-fluid/.dirstamp
/src/python/espressomd/actors.cpp
/src/python/espressomd/actors.la
/src/python/espressomd/actors.so
/src/python/espressomd/analyze.cpp
/src/python/espressomd/analyze.la
/src/python/espressomd/analyze.so
/src/python/espressomd/cellsystem.cpp
/src/python/espressomd/cellsystem.la
/src/python/espressomd/cellsystem.so
/src/python/espressomd/code_info.cpp
/src/python/espressomd/code_info.la
/src/python/espressomd/code_info.so
/src/python/espressomd/cuda_init.cpp
/src/python/espressomd/cuda_init.la
/src/python/espressomd/cuda_init.so
/src/python/espressomd/debye_hueckel.cpp
/src/python/espressomd/debye_hueckel.la
/src/python/espressomd/debye_hueckel.so
/src/python/espressomd/dummy
/src/python/espressomd/electrokinetics.cpp
/src/python/espressomd/electrokinetics.la
/src/python/espressomd/electrokinetics.so
/src/python/espressomd/electrostatic_extensions.cpp
/src/python/espressomd/electrostatic_extensions.la
/src/python/espressomd/electrostatic_extensions.so
/src/python/espressomd/electrostatics.cpp
/src/python/espressomd/electrostatics.la
/src/python/espressomd/electrostatics.so
/src/python/espressomd/gen_pxiconfig
/src/python/espressomd/gen_pxiconfig.cpp
/src/python/espressomd/_init.cpp
/src/python/espressomd/_init.la
/src/python/espressomd/_init.so
/src/python/espressomd/integrate.cpp
/src/python/espressomd/integrate.la
/src/python/espressomd/integrate.so
/src/python/espressomd/interactions.cpp
/src/python/espressomd/interactions.la
/src/python/espressomd/interactions.so
/src/python/espressomd/lb.cpp
/src/python/espressomd/lb.la
/src/python/espressomd/lb.so
/src/python/espressomd/.libs/actors.la
/src/python/espressomd/.libs/actors.lai
/src/python/espressomd/.libs/actors.so
/src/python/espressomd/.libs/analyze.la
/src/python/espressomd/.libs/analyze.lai
/src/python/espressomd/.libs/analyze.so
/src/python/espressomd/.libs/cellsystem.la
/src/python/espressomd/.libs/cellsystem.lai
/src/python/espressomd/.libs/cellsystem.so
/src/python/espressomd/.libs/code_info.la
/src/python/espressomd/.libs/code_info.lai
/src/python/espressomd/.libs/code_info.so
/src/python/espressomd/.libs/cuda_init.la
/src/python/espressomd/.libs/cuda_init.lai
/src/python/espressomd/.libs/cuda_init.so
/src/python/espressomd/.libs/debye_hueckel.la
/src/python/espressomd/.libs/debye_hueckel.lai
/src/python/espressomd/.libs/debye_hueckel.so
/src/python/espressomd/.libs/electrokinetics.la
/src/python/espressomd/.libs/electrokinetics.lai
/src/python/espressomd/.libs/electrokinetics.so
/src/python/espressomd/.libs/electrostatic_extensions.la
/src/python/espressomd/.libs/electrostatic_extensions.lai
/src/python/espressomd/.libs/electrostatic_extensions.so
/src/python/espressomd/.libs/electrostatics.la
/src/python/espressomd/.libs/electrostatics.lai
/src/python/espressomd/.libs/electrostatics.so
/src/python/espressomd/.libs/_init.la
/src/python/espressomd/.libs/_init.lai
/src/python/espressomd/.libs/_init.so
/src/python/espressomd/.libs/integrate.la
/src/python/espressomd/.libs/integrate.lai
/src/python/espressomd/.libs/integrate.so
/src/python/espressomd/.libs/interactions.la
/src/python/espressomd/.libs/interactions.lai
/src/python/espressomd/.libs/interactions.so
/src/python/espressomd/.libs/lb.la
/src/python/espressomd/.libs/lb.lai
/src/python/espressomd/.libs/lb.so
/src/python/espressomd/.libs/magnetostatic_extensions.la
/src/python/espressomd/.libs/magnetostatic_extensions.lai
/src/python/espressomd/.libs/magnetostatic_extensions.so
/src/python/espressomd/.libs/magnetostatics.la
/src/python/espressomd/.libs/magnetostatics.lai
/src/python/espressomd/.libs/magnetostatics.so
/src/python/espressomd/.libs/particle_data.la
/src/python/espressomd/.libs/particle_data.lai
/src/python/espressomd/.libs/particle_data.so
/src/python/espressomd/.libs/_system.la
/src/python/espressomd/.libs/_system.lai
/src/python/espressomd/.libs/_system.so
/src/python/espressomd/.libs/_tcl.la
/src/python/espressomd/.libs/_tcl.lai
/src/python/espressomd/.libs/_tcl.so
/src/python/espressomd/.libs/thermostat.la
/src/python/espressomd/.libs/thermostat.lai
/src/python/espressomd/.libs/thermostat.so
/src/python/espressomd/.libs/utils.la
/src/python/espressomd/.libs/utils.lai
/src/python/espressomd/.libs/utils.so
/src/python/espressomd/magnetostatic_extensions.cpp
/src/python/espressomd/magnetostatic_extensions.la
/src/python/espressomd/magnetostatic_extensions.so
/src/python/espressomd/magnetostatics.cpp
/src/python/espressomd/magnetostatics.la
/src/python/espressomd/magnetostatics.so
/src/python/espressomd/myconfig.pxi
/src/python/espressomd/particle_data.cpp
/src/python/espressomd/particle_data.la
/src/python/espressomd/particle_data.so
/src/python/espressomd/_system.cpp
/src/python/espressomd/_system.la
/src/python/espressomd/_system.so
/src/python/espressomd/_tcl.cpp
/src/python/espressomd/_tcl.la
/src/python/espressomd/_tcl.so
/src/python/espressomd/thermostat.cpp
/src/python/espressomd/thermostat.la
/src/python/espressomd/thermostat.so
/src/python/espressomd/utils.cpp
/src/python/espressomd/utils.la
/src/python/espressomd/utils.so
/src/python/pypresso
/src/tcl/actor/.dirstamp
/src/tcl/immersed_boundary/.dirstamp
/src/tcl/libEspressoTcl4Py.la
/src/tcl/libEspressoTcl.la
/src/tcl/.libs/libEspressoTcl4Py.a
/src/tcl/.libs/libEspressoTcl4Py.la
/src/tcl/.libs/libEspressoTcl.a
/src/tcl/.libs/libEspressoTcl.la
/src/tcl/object-in-fluid/.dirstamp
/version.txt
/vmdfile.vmd_start.script
/vmdfile.vsf
/vmdfile.vsf.vmd_start.script
/vmdfile.vsf.vsf
/vmd.log
