image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/ubuntu-cuda:latest

stages:
  - permission
  - clone
  - prepare
  - build
  - additional_checks
  - deploy
  - result

variables:
  GIT_STRATEGY: none

check_permission:
  stage: permission
  only:
    - /.*external.*/
  when: manual
  allow_failure: false
  script:
    - exit 0

git_clone:
  stage: clone
  variables:
    GIT_STRATEGY: clone
  script:
    - cd ${CI_PROJECT_DIR}; git submodule update --init --recursive
  artifacts:
    paths:
    - ${CI_PROJECT_DIR}
    expire_in: 4 weeks

status_pending:
  stage: prepare
  script: bash maintainer/gh_post_status.sh pending


no_cuda_default:
  stage: build
  except:
    - doc
  script:
    - export with_cuda=false
    - export myconfig=default with_coverage=true
    - bash maintainer/CI/build_cmake.sh

no_cuda_maxset:
  stage: build
  except:
    - doc
  script:
    - export with_cuda=false
    - export myconfig=maxset with_coverage=true
    - bash maintainer/CI/build_cmake.sh

no_cuda_maxset_python3:
  stage: build
  except:
    - doc
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/ubuntu-python3:latest
  script:
    - export with_cuda=false
    - export myconfig=maxset python_version=3
    - bash maintainer/CI/build_cmake.sh

no_cuda_maxset_debian:
  stage: build
  except:
    - doc
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/debian:latest
  script:
    - export with_cuda=false
    - export myconfig=maxset make_check=false
    - bash maintainer/CI/build_cmake.sh

no_cuda_maxset_opensuse:
  stage: build
  except:
    - doc
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/opensuse:latest
  script:
    - export with_cuda=false
    - export myconfig=maxset make_check=false
    - bash maintainer/CI/build_cmake.sh

no_cuda_maxset_centos:
  stage: build
  except:
    - doc
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/centos:latest
  script:
    - export with_cuda=false
    - export myconfig=maxset make_check=false
    - bash maintainer/CI/build_cmake.sh

no_cuda_nocheckmaxset:
  stage: build
  except:
    - doc
  script:
    - export with_cuda=false
    - export myconfig=nocheck-maxset make_check=false
    - bash maintainer/CI/build_cmake.sh

shanchen:
  stage: build
  except:
    - doc
  script:
    - export myconfig=shanchen with_coverage=true
    - bash maintainer/cuda_build.sh

maxset:
  stage: build
  script:
    - export myconfig=maxset with_coverage=true
    - bash maintainer/cuda_build.sh
  artifacts:
    paths:
    - build/
    expire_in: 4 weeks

empty:
  stage: build
  except:
    - doc
  script:
    - export myconfig=empty
    - bash maintainer/CI/build_cmake.sh

osx:
  stage: build
  except:
    - doc
  script:
    - export myconfig=maxset with_cuda=false
    - bash maintainer/CI/build_cmake.sh
  tags:
    - mac

osx-python3:
  stage: build
  except:
    - doc
  script:
    - export myconfig=maxset with_cuda=false python_version=3
    - bash maintainer/CI/build_cmake.sh
  tags:
    - mac

osx-cuda:
  stage: build
  except:
    - doc
  script:
    - export myconfig=maxset with_cuda=true make_check=false
    - bash maintainer/CI/build_cmake.sh
  tags:
    - mac

clang-static-analysis:
  stage: build
  except:
    - doc
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/ubuntu-clang-cuda:latest
  script:
    - export myconfig=maxset with_coverage=false with_static_analysis=true
    - bash maintainer/cuda_build.sh

intel:
  stage: build
  except:
    - doc
  image: gitlab.icp.uni-stuttgart.de:4567/espressomd/docker/ubuntu-intel:latest
  script:
    - export myconfig=maxset with_coverage=false
    - bash maintainer/cuda_build.sh

check_sphinx:
  stage: additional_checks
  except:
    - doc
  dependencies:
  - git_clone
  - maxset
  when: on_success
  script:
    - cd ${CI_PROJECT_DIR}; cd build && find ./ -exec touch -c -t 203901010000 {} \; && make sphinx

check_with_odd_no_of_processors:
  stage: additional_checks
  except:
    - doc
  when: on_success
  dependencies:
  - git_clone
  - maxset
  script:
    - export build_procs=3 check_procs=3 check_odd_only=true
    - bash maintainer/cuda_build.sh

deploy_documentation:
  stage: deploy
  only:
    - doc
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - ssh-add <(echo "$SSH_PRIVATE_KEY")
    - mkdir -p ${HOME}/.ssh && chmod 700 ${HOME}/.ssh
    - echo "$SSH_PRIVATE_KEY" > ${HOME}/.ssh/espresso_rsa && chmod 600 ${HOME}/.ssh/espresso_rsa
    - echo "$SSH_PUBLIC_KEY" > ${HOME}/.ssh/espresso_rsa.pub && chmod 600 ${HOME}/.ssh/espresso_rsa.pub
    - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  script:
    - cd ${CI_PROJECT_DIR}/build && find ./ -exec touch -c -t 203901010000 {} \; && make sphinx && make doxygen && cd doc/sphinx/html &&
      rsync -avz --delete -e "ssh -i ${HOME}/.ssh/espresso_rsa" ./* espresso@elk.icp.uni-stuttgart.de:/home/espresso/public_html/html/doc
    - cd ../../doxygen/html &&
      rsync -avz --delete -e "ssh -i ${HOME}/.ssh/espresso_rsa" ./* espresso@elk.icp.uni-stuttgart.de:/home/espresso/public_html/html/dox

status_success:
  stage: result
  script: bash maintainer/gh_post_status.sh success
  when: on_success
  dependencies:
  - git_clone

status_failure:
  stage: result
  script: bash maintainer/gh_post_status.sh failure
  when: on_failure
  dependencies:
  - git_clone
