language: generic

matrix:
  include:
    - os: linux
      sudo: required
      services: docker
      env: myconfig=maxset with_coverage=true python_version=2
    - os: linux
      sudo: required
      services: docker
      env: myconfig=maxset image=ubuntu-python3 python_version=3

script:
  - maintainer/CI/build_docker.sh
