# required scientific packages
numpy>=1.17.4
h5py>=2.7.1
# optional scientific packages
scipy>=1.4.0
MDAnalysis>=1.0.0
pint>=0.10.1
# optional packages for graphics and external devices
matplotlib>=3.1.2
vtk>=7.1.1
PyOpenGL>=3.1.0
mayavi>=4.5.0
pyface
pygame>=1.9.6
traits>=4.6.0
traitsui>=4.5.1
# CI-related
requests>=2.18.4 # to post on GitHub as espresso-ci
lxml>=4.2.1 # to deploy tutorials
# sphinx and its dependencies
sphinx>=2.3.0,!=3.0.0
sphinxcontrib-bibtex>=0.3.5
# jupyter dependencies
jupyter_contrib_nbextensions==0.5.1
# pep8 and its dependencies
autopep8==1.5.0
pycodestyle==2.5.0
# pylint and its dependencies
pylint>=2.4.4
astroid>=2.3.3
isort>=4.3.4
setuptools>=39.0.1
pre-commit>=2.2.0
cmake-format==0.6.11
