# build system
cython>=0.29.21,<3.0.10
setuptools>=68.1.2
packaging>=24.0
# required scientific packages
numpy>=1.26.4
h5py>=3.10.0
# optional scientific packages
scipy>=1.11.4
pint>=0.19.2
# optional packages for graphics and external devices
matplotlib>=3.6.3
vtk==9.1.0
PyOpenGL>=3.1.5
pygame>=2.1.2
# waLBerla dependencies
pystencils==1.2
lbmpy==1.2
sympy==1.12
islpy==2022.2.1
jinja2>=3.1.2
# CI-related
requests>=2.31.0
lxml>=5.1.0
coverage>=7.4.4
# sphinx and its dependencies
sphinx>=7.2.6
sphinx-toggleprompt==0.4.0
sphinxcontrib-bibtex>=2.6.2
numpydoc>=1.6.0
pybtex>=0.24.0
# jupyter dependencies
jupyterlab>=3.5
ipykernel>=6.29.3
nbformat==5.9.1
nbconvert==6.5.3
tqdm>=4.66.2
# linters and their dependencies
pep8==1.7.1
autopep8==2.1.0
pycodestyle==2.11.1
pylint>=3.0.3
astroid>=3.0.2
isort>=5.6.4
pre-commit>=3.6.2
cmakelang==0.6.13
