# build system
cython>=0.29.21,<3.0
setuptools>=59.6.0
# required scientific packages
numpy>=1.23
h5py>=3.6.0
# optional scientific packages
scipy>=1.8.0
pint>=0.18
# optional packages for graphics and external devices
matplotlib>=3.5.1
vtk>=9.1.0
PyOpenGL>=3.1.5
pygame>=2.1.2
# waLBerla dependencies
pystencils==1.2
lbmpy==1.2
sympy==1.9
islpy==2022.2.1
# CI-related
requests>=2.25.1
lxml>=4.8.0
coverage>=6.2
# sphinx and its dependencies
sphinx>=3.4.3
sphinx-toggleprompt==0.2.0
sphinxcontrib-bibtex>=2.5.0
numpydoc>=1.5.0
# jupyter dependencies
nbconvert==6.5.1
jupyter_contrib_nbextensions==0.5.1
tqdm>=4.57.0
# linters and their dependencies
autopep8==1.6.0
pycodestyle==2.8.0
pylint>=2.12.2
astroid>=2.9.3
isort>=5.6.4
pre-commit>=2.17.0
cmakelang==0.6.13
